@{
    ViewBag.Title = "About";
}

<div>
    <section id="contact" style="padding-top:0px; padding-bottom:0px">
        <div class="container">
            <div class="row">

                <!-- Section title
            ================================================== -->
                <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" style="margin-top:100px">
                    <div class="section-title">
                        
                        <h1 class="heading" runat="server">About</h1>
                        <p style="color:rgb(108, 105, 105);">Shall I compare thee to a summer's day? Thou art more lovely and more temperate.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12" style="margin-left:300px">
                    <h2 style="color:black">🐱CAT😺</h2>
                    <p>🐱CAT😺 is functional and awesome web by <a rel="nofollow" href="Email.aspx" target="_parent">Ray and Xuan</a>. </p>
                    <p style="color:rgb(108, 105, 105); font-size:18px">
                        is founded in August, 2017. The founders: Ray and Xuan are both ITS students of SEU-Monash Joint Graduate School.
                        The original intention of founding CAT is to provide a service about cats for all cat lover.
                        Our company tries to collect all kinds of cats from all over the world, including longhair cats, shorthair cats and even hairless cats.
                        We hope that anyone who visit our website could find their favorite breeds and obtain their new family member.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
